name: Execute fastlane

on:
  push:
    branches:
      - main

jobs:
  build_dev:
    name: Execute fastlane
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@main
      - name: Install Ruby Dependencies
        run: bundle install

      - name: fastlane
        env:
          FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD: ${{ secrets.FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD  }}
          MATCH_DEPLOY_KEY: ${{ secrets.MATCH_DEPLOY_KEY  }}
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD  }}
          GIT_SSH_COMMAND: "ssh -o StrictHostKeyChecking=no"
          MATCH_READONLY: true
        run: |
          eval "$(ssh-agent -s)"
          ssh-add - <<< "${MATCH_DEPLOY_KEY}"
          bundle exec fastlane ios build

      - name: upload artefact to App Center
        uses: zackify/App-Center-action@1.0.0
        with:
          appName: LoanCalculator
          token: ${{secrets.APP_CENTER_TOKEN}}
          group: Internal
          file: build/ios/LoanCalculator.ips
