name: Execute fastlane

on:
  push:
    branches:
      - main

jobs:    
  setup_dependencies:
    name: Setup Fastlane dependencies
    runs-on: macos-latest
    steps:
      - uses: actions/cache@v2
        id: restore-build
        with:
          path: vendor
          key: ${{ runner.os }}-fastlane
          restore-keys: |
            ${{ runner.os }}-fastlane
            ${{ runner.os }}
            fastlane

      - uses: actions/checkout@v2
      - name: Install Ruby Dependencies
        run: bundle install --path vendor/bundle
    
  build_project:
    name: Build Project
    runs-on: macos-latest
    needs: setup_dependencies
    steps:
      - name: Restore cache
        uses: actions/cache@v2
        id: restore-build
        with:
          path: vendor
          key: ${{ runner.os }}-fastlane

      - name: Check cache
        run: |
          pwd
          ls
          cd vendor
          ls
          cd bundle
          ls
          cd ruby
          ls
          
      - name: Set Build Number
        run: fastlane run increment_build_number build_number:${{ github.run_number }}

      - name: fastlane
        env:
          FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD: ${{ secrets.FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD  }}
          MATCH_DEPLOY_KEY: ${{ secrets.MATCH_DEPLOY_KEY  }}
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD  }}
          APP_CENTER_TOKEN: ${{ secrets.APP_CENTER_TOKEN  }}
          GIT_SSH_COMMAND: "ssh -o StrictHostKeyChecking=no"
          MATCH_READONLY: true
        run: |
          eval "$(ssh-agent -s)"
          ssh-add - <<< "${MATCH_DEPLOY_KEY}"
          fastlane ios upload_to_appcenter
